{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>Hidden Smoke</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    Welcome to your favorite event manager..
  </p>
  <img id="logo" src="http://i.imgur.com/tjOh4zv.png">
  <p>
    Check out the <a href="/about">About us</a> page
    to learn more about the team, or the <a href="/events">Events</a> page for more events.
  </p>
  <p>List of upcoming events</p>
  <div style="border: 3px solid white">
    {% include "fragments/events-list.html" %}
  </div>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}